body {
	background-color: rgb(240, 240, 240);
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f100;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(65, 64, 64);
	border-radius: 5px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #555;
}
